<div class="movie_card" id="myhover">
  <div class="info_section">

    <div class="movie_header">
      <img class="locandina" src="{{movie.image}}"/>
      <h1>{{movie.title}}</h1>
	  
      <p class="minutes">{{movie.duration}}</p>
      <p class="type">{{movie.type}}</p>

      <br>
      <span style="color: white;font-weight: 500;margin-top: 17px;font-size: 19px;"><i class="fas fa-heart"
        style="color: red"></i> &nbsp;{{movie.rating}}/10</span>

        <br>
      <span class="type">{{movie.language}}</span>

    </div>

    <div class="movie_desc">
      <p class="text">
        {{movie.description}}
      </p>

      <br><br>
    <div  class="col-md-3 col-sm-3 col-xs-6"> <a href="{{movie.trailer}}" target="_blank" class="btn btn-sm animated-button victoria-three">Trailer</a> </div>

    </div>

  </div>

  <div class="blur_back " style="background-image: url('{{movie.image}}'); " ></div>

</div>




<!-- <div class="movie_social">
  <ul>
    <li><i class="material-icons">share</i></li>
    <li><i class="material-icons"></i></li>
    <li><i class="material-icons">chat_bubble</i></li>
  </ul>
</div> -->













<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="container-fluid" style="background-color: #333545;padding: 40px 20px 15px 40px;">
  <div class="row">
    <div class="col-sm-7">
      <h2 class="primary">{{movie.title}}</h2>

<br>
      <span style="color: white;font-weight: 500;margin-top: 17px;font-size: 19px;"><i class="fas fa-heart"
        style="color: red"></i> &nbsp;{{movie.rating}}</span>
    <br>
    <span
      style="background: none;color: #A3A3A3;border: 1px solid #A3A3A3;border-radius: 10px;height: 26px;width: 70px;font-size: 10px;margin-top: 7px;margin-right: 5px;padding: 1px 10px 1px 10px;font-weight: 500;">{{movie.type}}</span>
    <br>
    <span style="color: white;font-weight: 500;margin-top: 10px;font-size: 25px;"><i class="fas fa-stopwatch"
        style="color: white"></i> {{movie.duration}}</span>



    </div >
    <div class="col-sm-5 float-left text-white">
      <br><br>
      <h6>Description : </h6>
      <p >{{movie.description}}</p>
    </div>
  </div>
</div> -->
