

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; ">
  <a class="navbar-brand " style="color :rgb(153, 0, 0)" routerLink=""> <strong>  <i>Movie Ticket Booking</i> </strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink=""  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Home </a>
      </li>

    </ul>
  </div>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/location"  routerLinkActive="active">Location</a>
    </li>
    <li class="nav-item mr-auto">
      <a *ngIf="!_user.checkUser()" class="nav-link" routerLink="/signin"  routerLinkActive="active">Signin</a>
    </li>

    <li class="nav-item mr-auto">
      <a *ngIf="_user.checkUser()" (click)="logout()" class="nav-link"  routerLinkActive="active">Logout</a>
    </li>

    <li class="nav-item mr-auto">
      <a *ngIf="!_user.checkUser()" class="nav-link" routerLink="/register"  routerLinkActive="active">RegisterUser</a>
    </li>

  </ul>
</nav>



